* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background-color: #f2f2f2;
    font-family: 'Times New Roman', Times, serif;
    color: #101010;
}

header {
    background-color: #cc0000;
}

#logo {
    float: left;
    width: auto;
}