@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Roboto Slab', serif;
    color: #101010;
}

/* Logo and Navigation */

#navbar {
    float: right;
    letter-spacing: 2px;
}

#navbar li {
    list-style: none;
    float: left;
    margin-right: 40px;
}

#navbar a {
    text-decoration: none;
    color: #e6e6e6;
}

#logo, #navbar {
    line-height: 75px;
}

.fixed-navbar {
    background-color: #990000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Hero image and headline */

#hero-outer {
    height: 650px;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 75px;
}

#hero-image {
    height: 650px;
    width: 100%;
    background: url('../images/hero-image.jpg') fixed center center;
}

#headline {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bangers', cursive;
    font-size: 7vw;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-shadow: 4px 4px 6px #000000;
    width: 100%;
    height: 75px;
    text-align: center;
    color: #f2f2f2;
}

#visit-us {
    background-color: #cc0000;
    border-radius: 10px;
    color: #f2f2f2;
    text-transform: uppercase;
    text-decoration: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 1rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#visit-button:hover {
    background-color: #f2f2f2;
    color: #cc0000;
}

/* About section */

#about {
    background-color: rgba(126,127,142, 0.2);
}

#about > h3 {
    text-align: center;
    padding: 60px 0 0 0;
    font-size: 200%;
}

#text-left {
    padding-top: 50px;
    padding-right: 20px;
    width: 45%;
    float: left;
}

#text-right {
    padding-top: 50px;
    padding-left: 20px;
    width: 55%;
    float: right;
}

#text-header-left {
    float: right;
}

#text-header-right {
    float: left;
}

#text-header-left, #text-header-right {
    width: 80%;
    line-height: 20px;
    padding-bottom: 60px;
}

#text-header-right p, #text-header-left p {
    text-align: justify;
}

#text-header-right h3, #text-header-left h3 {
    text-align: center;
}

/* Trust subsection and logos */

#partners {
    text-align: center;
    font-size: 200%;
}

.flex-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
}

/* Inside Gamehub section */

#entertainment > h3 {
    text-align: center;
    padding: 40px 0;
    font-size: 200%;
}

.responsive {
    padding: 0 5px 40px 5px;
    float: left;
    padding-left: 55px;
}

.gallery {
    border: 1px solid #ccc;
    width: 400px;
    margin: 1px;
}

.gallery:hover {
    border: 1px solid #101010;
}

* {
    box-sizing: border-box;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    text-align: center;
    padding: 10px;
}

.clearspace::after {
    content: "";
    display: table;
    clear: both;
}

/* Testimony carousel section */

#testimony {
    background: url(../images/background.jpg);
    height: 350px;
}

#testimony > h3 {
    text-align: center;
    padding: 60px 0;
    font-size: 200%;
    color: #e6e6e6;
}

.carousel-item > h4 {
    text-align: center;
    color: #e6e6e6;
}

.carousel-item p {
    text-align: center;
    padding: 0 150px;
    color: #e6e6e6;
}

/* Footer section */

footer {
    background-color: #990000;
}

footer h5 {
    font-size: medium;
}

#footer-left {
    float: left;
    margin-left: 2%;
    color: #e6e6e6;
}

#footer-right {
    text-align: right;
}

#footer-left, #footer-right {
    padding-top: 30px;
    padding-bottom: 10px;
}

#social-media li {
    display: inline;
}

#social-media i {
    font-size: 180%;
    margin-right: 2%;
    color: #e6e6e6;
}

/* Contact page */

.contact-section {
    background: url(../images/nes-console.jpg) no-repeat center center;
    height: 650px;
}

.form {
    color:#e6e6e6;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(16,16,16, 0.6);
    padding: 30px;
    max-width: 800px;
    font-family: 'Roboto Slab', serif;
}

.form > h2 {
    color: #e6e6e6;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #e6e6e6;
    width: 100%;
    height: 30px;
    margin: 5px 0 20px 0;
    border: 1px solid #e6e6e6;
    border-radius: 2px;
}

.text-input:hover {
    border-color: #990000;
}

.send-button {
    background-color: #990000;
    border-radius: 2px;
    display: block;
    color: #e6e6e6;
    margin-top: 20px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    width: 100%;
}

.fieldset {
	margin-top: 20px;
    width: 100%;
    border: 2px solid #e6e6e6;
    padding: 0.5rem;
}

.fieldset:hover {
	border-color: #990000;
}

/* Gallery page */

.container {
    position: relative;
}

#bg-color {
    background-color: #990000;
} 

#top-image {
    margin-top: 75px;
}

.text-block {
    position: absolute;
    background-color: rgba(153, 0, 0, 0.6);
    color: #e6e6e6;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
}

.text-block-left {
    bottom: 20px;
    left: 20px;
}

.text-block-right {
    bottom: 20px;
    right: 20px;
    text-align: right;
}

/* Visit Us page */

.flex-container {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
} 

#visit-headline {
   margin-top: 150px;
   text-align: center;
   font-size: 300%;
}

.flex-item-left {
    flex: 10%;
}

.backdrop {
    color:rgba(16,16,16, 0.6);
    text-shadow: 2px 2px 4px #e6e6e6;
    font-size: xx-large;
}

.flex-item-right {
    flex: 50%;
    text-align: left;
    font-size: 140%;
    margin-right: 40px;
}

#map-background {
    background-color: #101010;
    height: 500px;
}

#googlemap {
    height: 100%;
    padding: 20px;
}

#map {
    width: 100%;
    height: 100%;
    border: none;
}

/* Responsive layout for large to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #visit-headline {
        margin-top: 150px;
        text-align: center;
        font-size: 220%;
    }
    .flex-item-right {
        font-size: 120%;
    }
}

@media screen and (max-width: 1200px) {
    .text-block {
        position: absolute;
        background-color: rgba(153, 0, 0, 0.6);
        color: #e6e6e6;
        font-size: small;
        padding-right: 20px;
        padding-left: 20px;
        padding-top: 12px;
    }
}

