@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: 'Fira Sans', sans-serif;
    color: #101010;
}

/* Logo and Navigation */

#navbarNav {
    letter-spacing: 2px;
}

#navbarNav li {
    list-style: none;
    margin-right: 30px;
}

#navbarNav a {
    text-decoration: none;
    color: #e6e6e6;
}

#navbarNav a.active {
    background-color: #101010;
    border-radius: 5px;
}

#navbarNav a:hover {
    color: #101010;
}

#fixed-navbar {
    background-color: #990000;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

/* Hero image and headline */

#hero-outer {
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
    margin-top: 75px;
}

#hero-image {
    height: 100vh;
    width: 100%;
    background: url('../images/hero-image.jpg') fixed center center;
}

#headline {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Bangers', cursive;
    font-size: 5rem;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: capitalize;
    text-shadow: 4px 4px 6px #000000;
    width: 100%;
    margin-top: 50px;
    text-align: center;
    color: #f2f2f2;
}

#visit-us {
    background-color: #cc0000;
    border-radius: 5px;
    color: #e6e6e6;
    text-decoration: none;
    padding: 16px 32px;
    text-align: center;
    font-size: 1.5rem;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

#visit-us:hover {
    background-color: #e6e6e6;
    color: #990000;
}

/* About section */

#about {
    background-color: rgba(126,127,142, 0.2);
}

#about h3 {
    text-align: center;
    padding: 60px 0 10px 0;
    font-size: 200%;
}

.flexbox {
    display: flex;
    justify-content: center;
}

.flexbox > div {
    width: 600px;
    margin: 20px;
    text-align: center;
}

#text-left p, #text-right p {
    text-align: justify;
}

/* Trust subsection and logos */

#partners {
    text-align: center;
    font-size: 200%;
}

.flex-container {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 50px 0;
}

/* Inside Gamehub section */

#entertainment {
    margin: 0 50px;
}

.responsive {
    padding: 5px 5px;
    float: left;
    width: 33.33%;
}

.gallery {
    border: 1px solid #990000;
}

.gallery img {
    width: 100%;
    height: auto;
}

.desc {
    text-align: center;
    padding: 10px;
}

.clearspace::after {
    content: "";
    display: table;
    clear: both;
    margin-bottom: 40px;
}

/* Testimony carousel section */

#testimony {
    background: url(../images/testimony-pic.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 350px;
}

#testimony > h3 {
    text-align: center;
    padding: 80px 0 40px 0;
    font-size: 250%;
    color: #e6e6e6;
    text-shadow: 3px 3px 5px #101010;
}

.carousel-item > h4 {
    text-align: center;
    color: #e6e6e6;
    text-shadow: 3px 3px 5px #101010;
}

.carousel-item p {
    text-align: center;
    padding: 0 200px;
    color: #e6e6e6;
    text-shadow: 3px 3px 5px #101010;
}

/* Footer section */

footer {
    background-color: #990000;
}

footer h5 {
    font-size: medium;
}

#footer-left {
    float: left;
    margin-left: 2%;
    color: #e6e6e6;
}

#footer-right {
    text-align: right;
}

#footer-left, #footer-right {
    padding-top: 30px;
    padding-bottom: 10px;
}

#social-media li {
    display: inline;
}

#social-media i {
    font-size: 180%;
    margin-right: 2%;
    color: #e6e6e6;
}

#social-media i:hover {
    color: #101010;
}

/* Contact page */

.contact-section {
    background-image: url(../images/nes-console.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 650px;
}

.form-container {
    background-color: #e6e6e6;
    position: absolute;
    margin: 120px 20px auto 40px;
    padding: 10px;
    max-width: 450px;
}

.form-container > h2 {
    padding: 10px 0 10px 0;
    text-align: center;
}

input[type=text], input[type=email] {
    width: 100%;
    padding: 15px;
    margin: 5px 0 20px 0;
    border: none;
    border-radius: 2px;
}

.btn {
    background-color: #990000;
    color: #e6e6e6;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    opacity: 0.9;
    width: 100%;
    cursor: pointer;
}

.btn:hover {
    opacity: 1;
    color: #e6e6e6;
}

.fieldset {
	margin-top: 20px;
    width: 100%;
    padding: 0.5rem;
    border-radius: 2px;
}

/* Gallery page */

.container {
    position: relative;
}

#bg-color {
    background-color: #990000;
} 

#top-image {
    margin-top: 75px;
}

.text-block {
    position: absolute;
    background-color: rgba(153, 0, 0, 0.6);
    color: #e6e6e6;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 12px;
}

.text-block-left {
    bottom: 20px;
    left: 20px;
}

.text-block-right {
    bottom: 20px;
    right: 20px;
    text-align: right;
}

/* Visit Us page */

.section-container {
    display: flex;
    flex-direction: wrap;
    text-align: center;
    padding: 40px;
}

#visit-headline {
   padding-top: 200px;
   padding-bottom: 50px;
   text-align: center;
   font-size: 300%;
}

.flex-item-left {
    flex: 10%;
}

.backdrop {
    color: rgba(16, 16, 16, 0.8);
    text-shadow: 2px 2px 4px #e6e6e6;
    font-size: xx-large;
    text-align: center;
}

.flex-item-right {
    flex: 50%;
    text-align: left;
    font-size: 140%;
    margin-right: 40px;
}

#map-background {
    background-color: #101010;
    height: 490px;
}

#googlemap {
    height: 100%;
    padding: 20px;
}

/* Responsive layout for large to medium screen sizes from 1200px wide and down */

@media screen and (max-width: 1200px) {
    #visit-headline {
        margin-top: 150px;
        text-align: center;
        font-size: 220%;
    }
    .flex-item-right {
        font-size: 120%;
    }
    #testimony {
        width: 100%;
        height: auto;
    }
    .carousel-item > h4 {
        text-align: center;
        color: #e6e6e6;
        font-size: medium;
    }
    .carousel-item p {
        text-align: center;
        padding: 0 100px 50px 100px;
        color: #e6e6e6;
        font-size: medium;
    }
    .flex-container {
        margin: 0 auto;
        padding: 40px 0;
        width: 66.66%;
        display: flex;
        flex-wrap: wrap;
    }
    #text-right {
        margin-right: 70px;
    }
    #text-left {
        margin-left: 70px;
    }
    .section-container {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 30px 0;
    }
    #visit-headline {
        padding-top: 40px;
        padding-bottom: 20px;
        font-size: 250%;
    }
    .flex-item-right {
        padding-top: 20px;
        margin: 0 80px;
        text-align: center;
    }
    #headline {
        font-size: 4rem;
    }
}

@media screen and (max-width: 950px) {
    .responsive {
        padding: 5px 5px;
        float: left;
        width: 50%;
    }
    .flex-container {
        display: flex;
        flex-direction: column;
        padding: 50px 0;
    }
    .flexbox {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    #text-right {
        margin: 0 20px;
    }
    #text-left {
        margin: 0 20px;
    }
    #about h3 {
        font-size: 150%;
    }
    #footer-left {
        display: none;
    }
    #footer-right {
        text-align: center;
    }
    .flex-container {
        flex-direction: column;
        align-items: center;
    }
    .flex-item-right {
        padding-top: 20px;
        margin: 0 40px;
        text-align: center;
    }
    #headline {
        font-size: 3rem;
    }
    #visit-us {
        font-size: 1rem;
    }

}

@media screen and (max-width: 600px) {
    .responsive {
        width: 100%;
    }
    .form-container {
        margin: 120px 40px;
    }
    #headline {
        font-size: 2rem;
    }
}


